.button {
	position: relative;
	z-index: 0;
	display: inline-block;
	border: 1px solid rgba($color-white, 0.2);
	padding: 0 22px;
	font-size: 11px;
	line-height: 43px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	color: $color-white;

	span {
		position: absolute;
		left: -1px;
		right: -1px;
		top: -1px;
		bottom: -1px;
		z-index: -1;
		overflow: hidden;
		pointer-events: none;

		&:first-child {
			&::before {
				@include triangle(to top left, 4px, 4px, $color-sunglow);

				content: "";
				position: absolute;
				left: 0;
				top: 0;
				transform: translateZ(0);
				transform-origin: left top;
				transition: transform 0.3s;
				will-change: transform;
			}

			&::after {
				@include triangle(to bottom left, 4px, 4px, $color-sunglow);

				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				transform: translateZ(0);
				transform-origin: left bottom;
				transition: transform 0.3s;
				will-change: transform;
			}
		}

		&:last-child {
			&::before {
				@include triangle(to top right, 4px, 4px, $color-sunglow);

				content: "";
				position: absolute;
				right: 0;
				top: 0;
				transform: translateZ(0);
				transform-origin: right top;
				transition: transform 0.3s;
				will-change: transform;
			}

			&::after {
				@include triangle(to bottom right, 4px, 4px, $color-sunglow);

				content: "";
				position: absolute;
				right: 0;
				bottom: 0;
				transform: translateZ(0);
				transform-origin: right bottom;
				transition: transform 0.3s;
				will-change: transform;
			}
		}
	}

	@include desktop {
		&:hover {
			span {
				&::before,
				&::after {
					transform: scale(35) translateZ(0);
				}
			}
		}
	}

	@include mobile {
		display: block;
		text-align: center;
	}
}

.cursor {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 60px;
	height: 60px;
	background: url("../images/sprites/svg/cursor.svg") no-repeat center;
	background-size: cover;
	opacity: 0;
	transition: opacity 0.3s;
	pointer-events: none;

	&.is-active {
		opacity: 1;
	}
}

.page {
	position: relative;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 65px;
	padding-bottom: 220px;
	min-height: 100vh;

	&__fixed {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
		background: url("../images/bg.jpg") no-repeat center;
		background-size: cover;

		@include mobile {
			background-position: 0;

			@media (orientation: landscape) {
				height: 110vh;
			}
		}
	}

	&__top {
		margin: 77px 0 53px;

		&__title {
			margin: 0 0 48px;
			max-width: 680px;
			font-weight: 300;
			font-size: 48px;
			line-height: (58 / 48);
			color: $color-white;

			@include mobile {
				margin-bottom: 40px;
				font-size: 30px;
				line-height: (37 / 30);
			}
		}

		&__text {
			margin: 0;
			max-width: 680px;
			font-weight: 300;
			font-size: 16px;
			line-height: (30 / 16);
			color: $color-white;

			@include mobile {
				font-size: 14px;
				line-height: (25 / 14);
			}
		}

		@include laptop {
			margin-top: 56px;
			margin-right: 85px;
			margin-left: 85px;
		}

		@include tablet {
			margin-right: 44px;
			margin-left: 44px;
		}

		@include mobile {
			margin: 35px 15px 47px;
		}
	}

	&__container {
		position: relative;
		padding: 100px 85px;

		&--white {
			color: $color-woodsmoke;
			background-color: $color-white;
		}

		&--black {
			color: $color-white;
			background-color: rgba($color-woodsmoke-dark, 0.85);
		}

		@include tablet {
			padding-right: 44px;
			padding-left: 44px;
		}

		@include mobile {
			padding: 60px 15px;
		}
	}

	@include laptop {
		padding-bottom: 150px;
	}
}

.wrapper {
	margin-left: auto;
	width: 100%;
	max-width: vw(1020);

	@include laptop {
		max-width: 100%;
	}
}

button {
	border: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

select {
	appearance: none;
}

textarea {
	resize: none;
}

.content {
	.white {
		color: $color-white;
	}

	&__container {
		position: relative;
		padding: 97px 85px 85px;

		&--white {
			color: $color-woodsmoke;
			background-color: $color-white;
		}

		&--black {
			color: $color-white;
			background-color: rgba($color-woodsmoke-dark, 0.85);
		}

		@include tablet {
			padding-right: 44px;
			padding-left: 44px;
		}

		@include mobile {
			padding: 60px 15px 43px;
		}
	}

	h2 {
		margin: 0 0 49px;
		max-width: vw(680);
		font-weight: 300;
		font-size: 32px;
		line-height: (45 / 32);
		letter-spacing: -0.01em;

		@include laptop {
			max-width: 680px;
		}

		@include mobile {
			margin-bottom: 37px;
			font-size: 21px;
			line-height: 25px;
		}
	}

	h3 {
		margin: 53px 0 17px;
		max-width: vw(680);
		font-weight: 300;
		font-size: 18px;
		line-height: (23 / 18);

		@include laptop {
			max-width: 680px;
		}

		@include mobile {
			margin-top: 44px;
			font-weight: 400;
			font-size: 17px;
			line-height: 22px;
		}
	}

	h4 {
		margin: 40px 0 16px;
		font-size: 11px;
		line-height: 15px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	p {
		margin: 0 0 20px;
		max-width: vw(680);
		font-weight: 300;
		font-size: 16px;
		line-height: (30 / 16);

		@include laptop {
			max-width: 680px;
		}

		@include mobile {
			font-size: 15px;
			line-height: 26px;
		}
	}

	ol {
		counter-reset: section;
		list-style-type: none;
		margin-top: 35px;
		padding: 0;
		max-width: vw(730);
		font-weight: 300;
		font-size: 16px;
		line-height: 30px;

		li {
			position: relative;
			list-style-type: none;
			margin-bottom: 20px;
			padding-left: 50px;

			&::before {
				counter-increment: section;
				content: counter(section) ". ";
				position: absolute;
				left: 0;
				font-size: 11px;
				line-height: 33px;
				color: $color-buttercup;

				@include mobile {
					line-height: 29px;
					letter-spacing: 0.1em;
				}
			}

			ol {
				counter-reset: subsection;
				margin-top: 20px;

				li {
					&::before {
						counter-increment: subsection;
						content: counter(section) "."counter(subsection) " ";
					}

					ol {
						counter-reset: subsubsection;
						margin-top: 20px;

						li {
							&::before {
								counter-increment: subsubsection;
								content: counter(section) "."counter(subsection) "."counter(subsubsection) " ";
							}
						}
					}
				}
			}

			@include mobile {
				margin-bottom: 22px;
				padding-left: 30px;
				font-size: 15px;
				line-height: 26px;

				ol {
					li {
						margin-left: -30px;
						padding-left: 40px;

						ol {
							li {
								margin-left: -40px;
								padding-left: 50px;
							}
						}
					}
				}
			}
		}

		@include laptop {
			max-width: 730px;
		}
	}

	ul {
		list-style: none;
		margin-top: 35px;
		padding: 0;
		max-width: vw(730);
		font-weight: 300;
		font-size: 16px;
		line-height: 30px;

		li {
			position: relative;
			margin-bottom: 20px;
			padding-left: 50px;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 11px;
				border-radius: 50%;
				width: 7px;
				height: 7px;
				background-color: $color-buttercup;
			}

			ul {
				margin-top: 20px;

				li {
					&::before {
						border: 2px solid $color-buttercup;
						background: none;
					}

					ul {
						li {
							&::before {
								border: 1px solid $color-buttercup;
								background: none;
							}
						}
					}
				}
			}

			@include mobile {
				margin-bottom: 22px;
				padding-left: 30px;
				font-size: 15px;
				line-height: 26px;

				ul {
					li {
						margin-left: -30px;
						padding-left: 40px;

						&::before {
							left: 12px;
						}

						ul {
							li {
								margin-left: -40px;
								padding-left: 50px;

								&::before {
									left: 21px;
								}
							}
						}
					}
				}
			}
		}

		&.breadcrumb {
			margin-top: 20px;
			padding: 0;

			li {
				margin: 0;
				padding: 0;

				&::before {
					display: none;
				}

				a {
					color: rgba($color-white, 0.5);
					transition: color 0.3s;

					@include desktop {
						&:hover {
							color: $color-buttercup;
						}
					}
				}
			}

			@include laptop {
				margin-top: 19px;
			}
		}

		@include laptop {
			max-width: 730px;
		}
	}

	hr {
		position: relative;
		margin-top: 105px;
		margin-bottom: 96px;
		border: none;
		height: 1px;

		&::before {
			content: "";
			position: absolute;
			left: -85px;
			right: -85px;
			z-index: 1;
			height: 1px;
			background: rgba($color-black, 0.1);

			@include tablet {
				left: -44px;
				right: -44px;
			}

			@include mobile {
				left: -15px;
				right: -15px;
			}
		}

		&::after {
			@include triangle(to top left, 15px, 15px, $color-sunglow);

			content: "";
			position: absolute;
			left: -85px;
			top: 0;
			z-index: 2;

			@include tablet {
				left: -44px;
			}

			@include mobile {
				left: -15px;
			}
		}

		@include laptop {
			margin-bottom: 98px;
		}

		@include mobile {
			margin-top: 66px;
			margin-bottom: 60px;
		}
	}

	a {
		text-decoration: none;
		color: $color-buttercup;

		@include desktop {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.table-container {
		@include tablet {
			overflow-x: scroll;
			margin-left: -44px;
			padding: 0 44px;
			width: 100vw;
			-webkit-overflow-scrolling: touch;

			&__content {
				padding-right: 44px;
				width: 894px;

				@include mobile {
					padding-right: 15px;
					width: 865px;
				}
			}
		}

		@include mobile {
			margin-left: -15px;
			padding: 0 15px;
		}
	}

	table {
		table-layout: fixed;
		overflow-wrap: break-word;
		margin-top: 100px;
		border: 1px solid $color-black;
		border-collapse: collapse;
		padding: 0;
		font-size: 11px;
		line-height: 15px;
		letter-spacing: 0.1em;
		word-wrap: break-word;

		tr {
			border: none;

			td {
				border-bottom: 1px solid rgba($color-black, 0.1);
			}

			&:last-child {
				td {
					border-bottom: none;
				}
			}
		}

		th {
			border-right: 1px solid rgba($color-black, 0.1);
			border-bottom: 1px solid $color-black;
			border-left: none;
			padding: 30px 35px;
			font-weight: 400;
			font-size: 11px;
			line-height: 15px;
			text-align: left;
			text-transform: uppercase;

			&:first-child {
				border-right: 1px solid $color-black;
			}

			&:last-child {
				border-right: none;
			}

			@include laptop {
				padding: 27px 35px;
			}
		}

		td {
			border-right: 1px solid rgba($color-black, 0.1);
			border-left: none;
			padding: 30px 35px;
			font-weight: 300;
			font-size: 15px;
			line-height: 28px;

			&:first-child {
				border-right: 1px solid $color-black;
			}

			&:last-child {
				border-right: none;
			}

			@include laptop {
				padding: 21px 35px;
				letter-spacing: 0;
			}
		}

		@include laptop {
			margin-top: 103px;
			margin-bottom: 100px;
		}

		@include tablet {
			margin-top: 84px;
			margin-bottom: 48px;
			width: 100%;
		}

		@include mobile {
			margin-top: 44px;
			margin-bottom: 16px;
		}
	}

	.files {
		display: flex;
		flex-wrap: wrap;
		margin-top: 107px;
		max-width: vw(802);

		.file {
			display: flex;
			justify-content: space-between;
			margin-bottom: 48px;
			width: calc(50% - 24px);
			max-width: vw(377);
			text-decoration: none;
			color: $color-woodsmoke;

			&__icon {
				position: relative;
				width: 55px;
				height: 75px;

				svg {
					display: block;
					width: 100%;
					height: 100%;
				}

				span {
					position: absolute;
					left: 10px;
					bottom: 6px;
					font-weight: 400;
					font-size: 11px;
					line-height: 15px;
					letter-spacing: 0.1em;
					text-transform: uppercase;
				}
			}

			&__textblock {
				margin-top: 10px;
				width: calc(100% - 81px);

				p {
					margin: 0;
					font-weight: 300;
					font-size: 13px;
					line-height: 17px;
				}

				span {
					display: block;
					margin-top: 10px;
					font-weight: 400;
					font-size: 11px;
					line-height: 15px;
					letter-spacing: 0.1em;
					text-transform: uppercase;
				}

				@include tablet {
					margin-top: -1px;
				}
			}

			&:nth-child(odd) {
				margin-right: 48px;
			}

			@include laptop {
				max-width: 377px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			@include tablet {
				margin-bottom: 52px;
				max-width: 311px;
			}

			@include mobile {
				margin-right: 0;
				margin-bottom: 42px;
				width: 100%;
				max-width: 100%;
			}
		}

		@include laptop {
			max-width: 802px;
		}

		@include tablet {
			margin-top: 136px;
		}

		@include mobile {
			display: block;
			margin-top: 69px;
			margin-bottom: 16px;
		}
	}

	.block-image {
		margin-top: 39px;
		max-width: vw(850);

		img {
			display: block;
			max-width: 100%;
		}

		span {
			display: block;
			margin-top: 15px;
			margin-bottom: 28px;
			max-width: 600px;
			font-weight: 300;
			font-size: 15px;
			line-height: 28px;
			color: rgba($color-woodsmoke, 0.4);

			@include laptop {
				margin-bottom: 38px;
			}

			@include mobile {
				margin-bottom: 0;
				font-size: 14px;
				line-height: 25px;
			}
		}

		&--wrap {
			overflow: hidden;
			margin-top: 0;
			max-width: vw(680);

			img {
				float: left;
				margin-right: 20px;
				margin-bottom: 20px;
				max-width: vw(405);

				@include laptop {
					max-width: 405px;
				}

				@include mobile {
					float: none;
					margin-bottom: 16px;
					max-width: 100%;
				}
			}

			span {
				display: inline;

				@include mobile {
					display: block;
				}
			}

			@include laptop {
				max-width: 680px;
			}
		}

		@include laptop {
			max-width: 850px;
		}

		@include mobile {
			margin-bottom: 29px;
			max-width: 100%;
		}
	}

	.videos {
		padding: 96px 81px;
		background-color: rgba($color-woodsmoke-dark, 0.85);

		.video {
			position: relative;
			display: flex;
			align-items: center;
			margin-bottom: 42px;
			padding: 15px 89px;
			height: vw(288);

			&::before {
				content: "";
				position: absolute;
				left: 4px;
				right: 4px;
				top: 4px;
				bottom: 4px;
				border: 1px solid rgba($color-white, 0.2);
				pointer-events: none;
			}

			> span {
				position: absolute;
				left: -1px;
				right: -1px;
				top: -1px;
				bottom: -1px;
				overflow: hidden;
				pointer-events: none;

				&:first-child {
					&::before {
						@include triangle(to top left, 4px, 4px, $color-sunglow);

						content: "";
						position: absolute;
						left: 0;
						top: 0;
						transform: translate(5px, 5px) translateZ(0);
						transform-origin: left top;
						transition: transform 0.3s;
						will-change: transform;
					}

					&::after {
						@include triangle(to bottom left, 4px, 4px, $color-sunglow);

						content: "";
						position: absolute;
						left: 0;
						bottom: 0;
						transform: translate(5px, -5px) translateZ(0);
						transform-origin: left bottom;
						transition: transform 0.3s;
						will-change: transform;
					}
				}

				&:last-child {
					&::before {
						@include triangle(to top right, 4px, 4px, $color-sunglow);

						content: "";
						position: absolute;
						right: 0;
						top: 0;
						transform: translate(-5px, 5px) translateZ(0);
						transform-origin: right top;
						transition: transform 0.3s;
						will-change: transform;
					}

					&::after {
						@include triangle(to bottom right, 4px, 4px, $color-sunglow);

						content: "";
						position: absolute;
						right: 0;
						bottom: 0;
						transform: translate(-5px, -5px) translateZ(0);
						transform-origin: right bottom;
						transition: transform 0.3s;
						will-change: transform;
					}
				}
			}

			&__title {
				max-width: 500px;
				font-weight: 300;
				font-size: 32px;
				line-height: 45px;
				letter-spacing: -0.01em;
				color: $color-white;

				@include mobile {
					font-size: 21px;
					line-height: 25px;
				}
			}

			&__play {
				display: flex;
				align-items: center;
				margin-top: 23px;
				height: 45px;
				cursor: pointer;

				button {
					display: flex;
					align-items: center;
					justify-content: center;
					border: none;
					width: 45px;
					height: 45px;
					background-color: $color-sunglow;
					transition: background 0.3s;
					cursor: pointer;

					svg {
						width: 12px;
						height: 15px;
					}
				}

				span {
					margin-left: 20px;
					font-weight: 400;
					font-size: 11px;
					line-height: 15px;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					color: $color-white;
				}

				@include desktop {
					&:hover {
						button {
							background-color: $color-buttercup;
						}
					}
				}

				@include mobile {
					margin-top: 19px;
				}
			}

			&__time {
				margin-left: 10px;
				font-weight: 400;
				font-size: 11px;
				line-height: 15px;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: rgba($color-white, 0.5);
			}

			&:last-child {
				margin-bottom: 0;
			}

			@include desktop {
				&:hover {
					> span {
						&:first-child {
							&::before {
								transform: translate(0, 0) translateZ(0);
							}

							&::after {
								transform: translate(0, 0) translateZ(0);
							}
						}

						&:last-child {
							&::before {
								transform: translate(0, 0) translateZ(0);
							}

							&::after {
								transform: translate(0, 0) translateZ(0);
							}
						}
					}
				}
			}

			@include laptop {
				height: 288px;
			}

			@include mobile {
				margin-bottom: 32px;
				padding: 74px 19px;
				height: auto;
				min-height: vmin(288, 320);
			}
		}

		@include tablet {
			padding-right: 40px;
			padding-left: 40px;
		}

		@include mobile {
			padding: 56px 11px;
		}
	}

	.no-offset-top {
		margin-top: 0;
	}
}

.message {
	position: relative;
	padding: 40px 0;
	font-weight: 500;
	font-size: 16px;
	line-height: (30 / 16);

	&::after {
		content: "";
		position: absolute;
		left: -85px;
		right: -85px;
		bottom: 0;
		border-bottom: 1px solid rgba($color-black, 0.1);
	}
}

.filter {
	&__select {
		margin: 0 -5px;
		border: 0;
		padding: 0 5px;
		padding-right: 20px;
		font-size: 13px;
		line-height: (18 / 13);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $color-white;
		background-image: url("/images/sprites/svg/arrow-select.svg");
		background-position: 100% 50%;
		background-size: 14px;
		background-repeat: no-repeat;
		background-color: transparent;

		option,
		optgroup {
			color: $color-woodsmoke;
		}

		&::-ms-expand {
			display: none;
		}

		&:not(:last-of-type) {
			margin-right: 30px;

			@include mobile {
				margin-right: 0;
				margin-bottom: 30px;
			}
		}

		&:focus {
			outline: none;
		}

		.is-browser-ie & {
			background-image: url("/images/arrow-select.png");
		}
	}
}
