.cursor {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 60px;
	height: 60px;
	background: url("../images/sprites/svg/cursor.svg") no-repeat center;
	background-size: cover;
	opacity: 0;
	transition: opacity 0.3s;
	pointer-events: none;

	&::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		width: 18px;
		height: 18px;
		background: url("../images/sprites/svg/plus-yellow.svg") no-repeat center;
		background-size: cover;
		opacity: 0;
		transform: translate(-50%, -50%) translateZ(0);
		transition: opacity 0.3s;
		will-change: opacity;
	}

	&.is-active {
		opacity: 1;
	}

	&.is-plus {
		&::before {
			opacity: 1;
		}
	}
}