.filter {
	position: relative;
	z-index: 11;

	&:not(:last-of-type) {
		margin-right: 45px;

		@include mobile {
			margin-bottom: 25px;
		}
	}

	&__select {
		margin: 0 -5px;
		border: 0;
		padding: 0 5px;
		padding-right: 20px;
		height: 18px;
		max-width: 100%;
		font-size: 13px;
		line-height: (18 / 13);
		letter-spacing: 0.1em;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-transform: uppercase;
		color: $color-white;
		background-image: url("../images/sprites/svg/arrow-select.svg");
		background-position: 100% 50%;
		background-size: 14px;
		background-repeat: no-repeat;
		background-color: transparent;
		transition: color 0.3, background 0.3s;

		option,
		optgroup {
			color: $color-woodsmoke;

			&:disabled,
			&.is-disabled {
				color: rgba($color-woodsmoke, 0.4);
				cursor: not-allowed;
			}
		}

		&::-ms-expand {
			display: none;
		}

		&:focus {
			outline: none;
		}

		&--tags {
			margin-right: 21px;
		}

		&--date {
			padding-right: 16px;
		}

		.filter & {
			margin: 0;
			padding: 0;
			padding-right: 20px;
			height: auto;
		}

		.is-browser-ie & {
			background-image: url("../images/arrow-select.png");
		}

		.news & {
			font-size: 11px;
			line-height: (15 / 11);
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: $color-white;
			background-image: url("../images/sprites/svg/arrow-select-yellow.svg");

			&.filter__select:not(:last-of-type) {
				margin-right: 50px;
			}
		}

		@include mobile {
			&:not(:last-of-type) {
				margin-bottom: 25px;
			}
		}

		@include desktop {
			&:hover {
				color: $color-sunglow;
				background-image: url("../images/sprites/svg/arrow-select-yellow.svg");
			}
		}
	}

	&__body {
		position: absolute;
		left: 0;
		top: calc(100% + 10px);
		z-index: 1;
		display: none;
		padding: 20px;
		width: 288px;
		max-height: 400px;
		background-color: $color-white;

		&__list {
			flex: 1;
			overflow: hidden;
			overflow-y: auto;
			height: calc(100% - 55px);
			-webkit-overflow-scrolling: touch;
		}

		.right & {
			left: auto;
			right: 0;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		margin-top: 10px;

		&__button {
			border: 1px solid rgba($color-woodsmoke, 0.1);
			min-width: 120px;
			color: $color-woodsmoke;
		}

		&__clear {
			margin-left: auto;
			font-size: 11px;
			line-height: (15 / 11);
			letter-spacing: 0.1em;
			text-transform: uppercase;

			&:hover {
				color: rgba($color-woodsmoke, 0.7);
			}
		}
	}

	&__group {
		&__name {
			margin: 10px 0;

			&:first-of-type {
				margin-top: 0;
			}
		}

		&:disabled,
		&.is-disabled {
			opacity: 0.4;
			cursor: not-allowed;
		}
	}

	&__input {
		@include visually-hidden;

		&:disabled,
		&.is-disabled {
			+ label {
				color: rgba($color-woodsmoke, 0.4);
				cursor: not-allowed;
			}
		}

		&.is-active,
		&:checked {
			+ label {
				&::before {
					border-color: $color-sunglow;
				}

				&::after {
					opacity: 1;
				}
			}
		}
	}

	&__item {
		margin: 0 0 15px;
		border: 0;
		padding: 0;
	}

	&__label {
		position: relative;
		padding-left: 22px;
		font-weight: 300;
		font-size: 15px;
		line-height: (28 / 15);
		color: $color-woodsmoke;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 3px;
			border: 1px solid rgba($color-woodsmoke, 0.4);
			border-radius: 2px;
			width: 12px;
			height: 12px;
			transition: all 0.3s;

			.is-browser-edge & {
				top: 4px;
			}
		}

		&::after {
			content: "";
			position: absolute;
			left: 2px;
			top: 6px;
			width: 8px;
			height: 6px;
			background-image: url("../images/sprites/svg/filter-ok.svg");
			background-size: contain;
			background-repeat: no-repeat;
			opacity: 0;
			transition: all 0.3s;

			.is-browser-ie {
				background-image: url("../images/sprites/png/filter-ok.png");
			}

			.is-browser-edge & {
				top: 7px;
			}
		}

		&:focus,
		&:hover {
			&::before {
				border-color: $color-sunglow;
			}
		}
	}

	.js-select {
		display: none;
	}
}