.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 5;
	display: flex;
	justify-content: space-between;
	padding-left: 50px;
	height: 65px;

	&__logo {
		display: block;
		margin-top: 15px;
		width: 127px;
		height: 59px;
		background: url("../images/logo.png") no-repeat center;
		background-size: cover;
		transition: all 0.3s, background 0.4s;

		@include retina {
			background-image: url("../images/logo@2x.png");
		}

		@include desktop {
			&:hover {
				opacity: 0.7;
			}
		}

		@include laptop {
			width: 56px;
			background-image: url("../images/logo-small.png");

			@include retina {
				background-image: url("../images/logo-small@2x.png");
			}
		}

		@include mobile {
			position: relative;
			z-index: 2;
			margin-top: 9px;
			width: 69px;
			height: 56px;
			background-position: right center;
			background-size: 54px 56px;
		}
	}

	&__menu {
		width: vw(1020);
		height: 100%;
		background-color: $color-white;
		transition: opacity 0.4;

		ul {
			display: flex;
			align-items: center;
			justify-content: space-between;
			list-style: none;
			margin: 0;
			padding: 0 60px;
			height: 100%;

			li {
				padding: 0;

				a {
					position: relative;
					display: block;
					font-weight: 400;
					font-size: 11px;
					line-height: 30px;
					letter-spacing: 0.1em;
					text-decoration: none;
					text-transform: uppercase;
					color: $color-woodsmoke;
					transition: color 0.3s;

					@include desktop {
						&:hover {
							color: $color-sunglow;
						}
					}
				}

				&:nth-child(1) {
					[data-barba-namespace="about"] & {
						opacity: 0.3;
						pointer-events: none;
					}
				}

				&:nth-child(2) {
					[data-barba-namespace="techall"] & {
						opacity: 0.3;
						pointer-events: none;
					}
				}

				&:nth-child(3) {
					[data-barba-namespace="team"] & {
						opacity: 0.3;
						pointer-events: none;
					}
				}

				&:nth-child(4) {
					[data-barba-namespace="news"] & {
						opacity: 0.3;
						pointer-events: none;
					}
				}

				&:nth-child(5) {
					[data-barba-namespace="job"] & {
						opacity: 0.3;
						pointer-events: none;
					}
				}
			}

			@include laptop {
				padding: 0 50px;
			}
		}

		@include laptop {
			width: calc(100% - 76px);
		}

		@include tablet {
			width: calc(100% - 96px);

			ul {
				padding-right: 30px;
				padding-left: 30px;
			}
		}

		@include tablet-only {
			height: 65px;

			ul {
				padding-right: 20px;
				padding-left: 20px;
			}
		}

		@include mobile {
			position: absolute;
			display: block;
			padding: 80px 30px 30px;
			width: 100%;
			height: 100vh;
			opacity: 0;
			transition: opacity 0.4s;
			pointer-events: none;

			ul {
				display: block;
				padding: 37px 0 0;

				li {
					display: block;
					margin-top: 26px;

					&:first-child {
						margin-top: 0;
					}
				}

				@media (orientation: landscape) {
					overflow-y: scroll;
					-webkit-overflow-scrolling: touch;
				}
			}
		}
	}

	&__burger {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		margin: 0;
		border: none;
		padding: 0;
		width: 65px;
		height: 65px;
		background-color: $color-white;
		transition: background 0.4s;

		svg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: opacity 0.4s;

			&:first-child {
				width: 29px;
				height: 9px;
			}

			&:last-child {
				width: 21px;
				height: 21px;
				opacity: 0;
			}
		}
	}

	@include laptop {
		padding-left: 9px;

		&.is-fixed {
			background-color: $color-white;

			.header__logo {
				margin-top: 8px;
				width: 47px;
				height: 49px;
				background-image: url("../images/logo-small-dark.png");
				background-size: contain;

				@include retina {
					background-image: url("../images/logo-small-dark@2x.png");
				}
			}
		}
	}

	@include tablet {
		padding-left: 12px;
	}

	@include mobile {
		padding-left: 0;

		&.is-fixed {
			.header__logo {
				margin-left: 12px;
			}
		}

		&.is-active {
			.header__logo {
				background-image: url("../images/logo-small-dark.png");

				@include retina {
					background-image: url("../images/logo-small-dark@2x.png");
				}
			}

			.header__menu {
				opacity: 1;
				pointer-events: auto;
			}

			.header__burger {
				background-color: rgba($color-woodsmoke, 0.05);

				svg {
					&:first-child {
						opacity: 0;
					}

					&:last-child {
						opacity: 1;
					}
				}
			}
		}
	}
}
