.news__widget {
	position: relative;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	margin-right: 0;
	margin-left: auto;
	width: 100%;

	@include tablet {
		background: $color-shark;
	}

	.grid-item {
		position: relative;
		width: percentage(4 / 12);
		height: 400px;
		text-decoration: none;

		@include tablet {
			width: percentage(6 / 12);
			height: 400px;
		}

		@include mobile {
			width: 100%;
			height: 340px;
		}

		@include desktop-big {
			&:nth-child(2n + 1) {
				margin-top: initial;

				&.grid-item--first {
					margin-top: initial;
				}
			}
		}

		&__bg {
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			width: 100%;
			height: 100%;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: 50% 50%;
			}
		}

		&__content {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 30px 30px 56px;
			height: 100%;

			@include mobile {
				padding: 30px 15px 50px;
			}
		}

		&__meta {
			font-size: 11px;
			line-height: 140%;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}

		&__label {
			color: $color-sunglow;
		}

		&__date {
			margin-left: 12px;
			color: $color-white;
		}

		&__text {
			margin-top: 0;
			margin-bottom: 0;
			max-width: 100%;
			font-weight: 300;
			color: $color-white;
		}

		&__topside {
			display: flex;
			align-items: flex-start;
		}

		&__bottomside {
			position: relative;
			left: initial;
			right: initial;
			bottom: initial;
			display: flex;
			align-items: flex-end;
			width: initial;
		}

		&:nth-child(2n + 1) {
			@include tablet {
				margin-top: initial;
			}
		}

		&--big {
			width: percentage(8 / 12);

			@include tablet {
				width: percentage(12 / 12);
			}

			.grid-item__content {
				padding: 30px 30px 56px;

				@include mobile {
					padding: 30px 15px 50px;
				}
			}

			.grid-item__bottomside {

				p {
					font-size: 32px;
					line-height: 140%;

					@include mobile {
						font-size: 21px;
						line-height: 25px;
					}
				}
			}
		}

		&--empty {
			@include mobile {
				display: none;
			}
		}
	}
}
