.pagination {
	background: $color-woodsmoke-dark;

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__link {
		display: flex;
		align-items: center;
		width: fit-content;
		text-decoration: none;

		&:hover {
			svg {
				stroke: $color-sunglow;
				transform: translateX(8px);
			}
		}
	}

	&__subtitle {
		margin-bottom: 20px;
		font-size: 11px;
		line-height: (15 / 11);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $color-sunglow;
	}

	&__title {
		font-weight: 300;
		font-size: 32px;
		line-height: (42 / 32);
		letter-spacing: -0.01em;
		color: #fff;

		@include mobile {
			font-size: 21px;
			line-height: (25 / 21);
		}
	}

	svg {
		margin-left: 20px;
		width: 17px;
		height: 17px;
		fill: none;
		stroke: $color-white;
		transition: all 0.3s;

		@include mobile {
			margin-left: 12px;
		}
	}

	&--big {
		padding: 60px 85px;
		height: 317px;

		@include tablet {
			padding: 60px 44px;
		}

		@include mobile {
			padding: 60px 15px;
		}
	}
}
