.vacancy {
	position: relative;
	overflow-x: hidden;
	margin-top: vw(-29);
	width: 100%;
	height: vw(368);
	pointer-events: auto;

	&__bg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1;
		height: 100%;

		img {
			position: absolute;
			right: 0;
			bottom: 0;
			display: block;
			width: auto;
			height: 100%;

			@include mobile {
				display: none;
			}
		}

		@include not-mobile {
			// stylelint-disable-next-line declaration-no-important
			background: none !important;
		}

		@include mobile {
			background-size: cover;
		}
	}

	&__content {
		position: relative;
		z-index: 2;
		padding-top: 90px;
		padding-left: 30px;
		max-width: 280px;

		@include mobile {
			padding: 64px 15px 0;
			max-width: 290px;
		}
	}

	h4 {
		margin: 0;
		font-weight: 300;
		font-size: 18px;
		line-height: (23 / 18);
		text-transform: none;
		color: $color-black;

		@include mobile {
			font-size: 17px;
			line-height: (22 / 17);
		}
	}

	p {
		margin: 28px 0 0;
		font-weight: 300;
		font-size: 15px;
		line-height: (28 / 15);
		color: $color-black;

		@include mobile {
			font-size: 14px;
			line-height: (25 / 14);
		}
	}

	a {
		text-decoration: none;
		color: $color-woodsmoke;

		svg {
			margin-top: -1px;
			margin-left: 8px;
			width: 14px;
			height: 14px;
			fill: none;
			transform: translateZ(0);
			transition: transform 0.3s;
			will-change: transform;

			@include mobile {
				margin-left: 4px;
			}
		}

		@include desktop {
			&:hover {
				svg {
					transform: scale(1.25) translateZ(0);
				}
			}
		}

		@include mobile {
			margin-top: 12px;
		}
	}

	@include laptop {
		margin-top: vw(-29, 1020);
		height: vw(367, 1020);
	}

	@include tablet {
		margin-top: vw(-29, 768);
		height: vw(365, 768);
	}

	@include tablet-only {
		height: 367px;
	}

	@include mobile {
		margin: 0;
		height: 341px;
	}
}