.home {
	&__fixed {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: url("../images/pages/main/bg.jpg") no-repeat center;
		background-size: cover;

		&__decoration {
			position: absolute;
			left: 50%;
			top: vh(160);
			z-index: 1;
			margin-left: vh(-377);
			width: vh(600);
			height: vh(600);
			pointer-events: none;

			&__image {
				position: absolute;
				left: vh(-26);
				top: vh(-12);
				z-index: 1;
				width: 100%;
				height: 100%;

				@include laptop {
					left: vh(-21, 560);
					top: vh(-15, 560);
				}

				@include tablet {
					left: vh(-28, 560);
					top: vh(-11, 560);
				}

				@include mobile {
					left: 0;
					top: 0;
				}
			}

			&__polygon {
				position: absolute;
				left: vh(-12);
				top: vh(-7);
				z-index: 2;
				width: 100%;
				height: 100%;

				@include laptop {
					left: vh(-12, 560);
					top: vh(-7, 560);
				}
			}

			img {
				position: absolute;
				left: vh(12);
				top: vh(6);
				z-index: 1;
				display: block;
				width: vh(600);
				height: vh(600);

				@include laptop {
					top: vh(12, 560);
					margin-left: vh(6, 560);
					width: vh(370, 560);
					height: vh(370, 560);
				}

				@include tablet {
					left: 0;
					top: 0;
					width: vh(464, 560);
					height: vh(465, 560);
				}

				@include mobile {
					left: vh(-24, 550);
					top: vh(-10, 550);
					width: vh(318, 550);
					height: vh(321, 550);
				}
			}

			svg {
				position: absolute;
				left: vh(12);
				top: vh(6);
				z-index: 2;
				display: block;
				width: vh(569);
				height: vh(564);

				@include laptop {
					left: vh(12, 560);
					top: vh(6, 560);
					width: vh(352, 560);
					height: vh(348, 560);
				}

				@include tablet {
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}
			}

			@include laptop {
				top: vh(206, 560);
				margin-left: vh(-158, 560);
				width: vh(400, 560);
				height: vh(400, 560);
			}

			@include tablet {
				left: auto;
				right: vh(-76, 560);
				top: vh(101, 560);
				margin: 0;
				width: vh(440, 560);
				height: vh(436, 560);
			}

			@include mobile {
				right: vh(-99, 550);
				top: vh(98, 550);
				width: vh(305, 550);
				height: vh(302, 550);
			}
		}

		&__title {
			position: absolute;
			left: 60px;
			top: vh(457);
			z-index: 2;
			font-weight: 300;
			font-size: 32px;
			line-height: (42 / 32);
			letter-spacing: -0.01em;
			color: $color-white;

			@include laptop {
				left: 85px;
				top: vh(242, 560);
			}

			@include tablet {
				left: 44px;
			}

			@include mobile {
				left: 15px;
				top: auto;
				bottom: vh(121, 550);
				font-size: 21px;
				line-height: (25 / 21);
			}
		}

		&__button {
			position: absolute;
			left: 60px;
			bottom: vh(59);

			@include laptop {
				left: 85px;
				bottom: vh(60, 560);
			}

			@include tablet {
				left: 44px;
			}

			@include mobile {
				left: 15px;
				right: 15px;
				bottom: vh(50, 550);
				display: block;
				width: auto;
				text-align: center;
			}
		}
	}

	&__all-news {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 120px;
		background: $color-woodsmoke-dark;
		pointer-events: auto;

		p {
			margin-right: 66px;
			margin-left: 11px;
			font-weight: 400;
			font-size: 11px;
			line-height: (15 / 11);
			letter-spacing: 0.1em;
			text-align: center;
			text-transform: uppercase;
			color: $color-white;

			@include mobile {
				margin: 0 0 21px;
			}

			@include tablet-only {
				transform: translateX(-6px);
			}
		}

		a {
			@include tablet-only {
				transform: translateX(-4px);
			}
		}

		@include desktop-big {
			height: vw(120);
		}

		@include mobile {
			display: block;
			padding: 62px 15px 0;
			height: 207px;
			text-align: center;
		}
	}

	@include laptop {
		padding-bottom: 150px;
	}

	@include tablet {
		padding-top: 100vh;
	}
}
