.news {
	.anons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 30px;
		height: 105px;
		background-color: $color-woodsmoke-dark;

		h2 {
			margin: 0;
			color: $color-white;
		}

		a {
			border-bottom: 1px dashed rgba($color-white, 0.5);
			font-size: 11px;
			line-height: (15 / 11);
			letter-spacing: 0.1em;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-white;
			transition: border-color 0.3s;

			@include mobile {
				display: inline-block;
				margin-top: 30px;
			}

			@include desktop {
				&:hover {
					border-bottom-color: rgba($color-white, 0);
				}
			}
		}

		@include laptop {
			padding: 0 85px;
		}

		@include tablet {
			padding: 0 44px;
		}

		@include mobile {
			display: block;
			padding: 30px 15px;
			height: 142px;
		}
	}

	&__slider {
		.slick-arrow {
			position: absolute;
			bottom: 40px;
			z-index: 3;
			margin: 0;
			padding: 0;
			height: 45px;
			min-width: 45px;
			font-size: 0;
			text-indent: -10000;
			cursor: pointer;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-position: center;
				background-size: 11px 17px;
				background-repeat: no-repeat;
			}

			&.slick-prev {
				right: 95px;

				&::after {
					background-image: url("../images/sprites/svg/prev.svg");
				}

				@include mobile {
					right: 80px;
				}
			}

			&.slick-next {
				right: 30px;

				&::after {
					background-image: url("../images/sprites/svg/next.svg");
				}

				@include mobile {
					right: 15px;
				}
			}

			@include laptop {
				bottom: 30px;
			}

			@include mobile {
				bottom: 15px;
			}
		}

		.slick-slide {
			// stylelint-disable-next-line declaration-no-important
			width: vw(454) !important;

			@include laptop {
				// stylelint-disable-next-line declaration-no-important
				width: vw(454, 1020) !important;
			}

			@include tablet {
				padding: 30px;
				// stylelint-disable-next-line declaration-no-important
				width: vw(454, 768) !important;
			}

			@include mobile {
				// stylelint-disable-next-line declaration-no-important
				width: 100vw !important;
			}
		}

		.slick-current {
			@include desktop {
				+ .slick-slide {
					+ .slick-slide {
						pointer-events: none;
					}
				}
			}
		}
	}

	&__slide {
		display: block;
		padding: 30px;
		width: vw(454);
		height: vw(270);
		background-color: rgba($color-woodsmoke-dark, 0.88);

		&__topside {
			display: flex;
		}

		&__label {
			font-weight: 400;
			font-size: 11px;
			line-height: (15 / 11);
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: $color-sunglow;
		}

		&__date {
			margin-left: 11px;
			font-weight: 400;
			font-size: 11px;
			line-height: (15 / 11);
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: $color-white;
		}

		&__location {
			font-weight: 400;
			font-size: 11px;
			line-height: (15 / 11);
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: $color-white;
		}

		&__text {
			margin-top: 25px;
			font-weight: 300;
			font-size: 18px;
			line-height: (23 / 18);
			color: $color-white;
			transition: color 0.3s;
		}

		&.is-second {
			background-color: rgba($color-woodsmoke-dark, 0.8);
		}

		&.is-third {
			background-color: rgba($color-woodsmoke-dark, 0.68);
		}

		@include desktop {
			&:hover {
				// stylelint-disable-next-line declaration-no-important
				text-decoration: none !important;

				.news__slide__text {
					color: $color-sunglow;
				}
			}
		}

		@include laptop {
			height: vw(270, 1020);
		}

		@include tablet {
			height: vw(270, 768);
		}

		@include tablet {
			padding: 30px 15px;
			height: 270px;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 30px;
		height: 105px;
		background-color: $color-woodsmoke-dark;

		h2 {
			margin: 0;
			color: $color-white;
		}

		a {
			border-bottom: 1px dashed rgba($color-white, 0.5);
			font-size: 11px;
			line-height: (15 / 11);
			letter-spacing: 0.1em;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-white;

			@include mobile {
				display: inline-block;
				margin-top: 30px;
			}
		}

		.news__filter {
			@include mobile {
				flex-direction: row;
				margin-top: 30px;
			}
		}

		@include laptop {
			padding: 0 85px;
		}

		@include tablet {
			padding: 0 44px;
		}

		@include mobile {
			display: block;
			padding: 30px 15px;
			height: 142px;
		}
	}

	&__filter {
		display: flex;

		@include mobile {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__more {
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		width: 100%;
		height: 120px;
		font-weight: 400;
		font-size: 11px;
		line-height: 30px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $color-white;
		background-color: $color-woodsmoke-dark;

		span {
			transition: opacity 0.3s;
			will-change: opacity;
		}

		@include desktop {
			span {
				&:hover {
					opacity: 0.6;
				}
			}
		}
	}
}
