.footer(class=main ? 'footer--main' : '')
	.footer__content
		.footer__copy &copy;&nbsp;2018 Цифровой кластер Сибинтек
		.footer__create Создано в&nbsp;#[a(href="https://cpeople.ru/" target="_blank") CreativePeople]
