.header
	a.header__logo(href="/")
	.header__menu
		ul
			li
				a(href="#") о&nbsp;кластере
			li
				a(href="#") технологии и&nbsp;решения
			li
				a(href="/team.html") Команда
			li
				a(href="#") Новости и&nbsp;события
			li
				a(href="#") Вакансии
