.news.news__widget.grid
	+news-item({
		label: '&nbsp;',
		text: 'От школьной скамьи до&nbsp;Цифрового&nbsp;офиса',
		background: '#171B1E',
		opacity: '0.85',
		classList: 'grid-item--big js-cursor',
		link: '#'
	})
	+news-item({
		label: 'Новость./',
		date: '05&nbsp;июня &lsquo;18',
		text: 'Цифровой десант на ПМЭФ 2019',
		classList: 'js-cursor',
		src: '../images/main/14.jpg',
		srcset: '../images/main/14@2x.jpg 2x',
		link: '#'
	})
	+news-item({
		label: '&nbsp;',
		text: 'Команда Цифрового кластера Сибинтек',
		classList: 'js-cursor',
		src: '../images/main/15.jpg',
		srcset: '../images/main/15@2x.jpg 2x',
		link: '#'
	})
	+news-item({
		date: '05&nbsp;июня &lsquo;18',
		label: 'Новость./',
		text: 'Сотрудничество с Gartner',
		background: '#1E2326',
		classList: 'js-cursor',
		link: '#'
	})
	+news-item({
		label: '&nbsp;',
		background: '#171B1E',
		classList: 'grid-item--empty'
	})
	+news-item({
		label: '&nbsp;',
		text: '&laquo;Цифровое месторождение&raquo; в&nbsp;Башкирии&nbsp;официально перешло в&nbsp;опытно-промышленную эксплуатацию',
		classList: 'grid-item--big js-cursor',
		src: '../images/main/16.jpg',
		srcset: '../images/main/16@2x.jpg 2x',
		link: '#'
	})
	+news-item({
		label: '&nbsp;',
		text: 'Стенд цифрового кластера на SAP Форуме',
		classList: 'js-cursor',
		src: '../images/main/17.jpg',
		srcset: '../images/main/17@2x.jpg 2x',
		link: '#'
	})