.grid.js-grid.news.news-grid
	+grid-item({
		label: '&nbsp;',
		title: 'От школьной скамьи <br>до&nbsp;Цифрового&nbsp;офиса',
		background: '#171B1E',
		opacity: '0.85',
		classList: 'grid-item--big',
		link: '#'
	})
	+grid-item({
		label: 'Новость./',
		date: '05&nbsp;июня &lsquo;18',
		title: 'Цифровой десант на ПМЭФ 2019',
		src: '../images/main/14.jpg',
		srcset: '../images/main/14@2x.jpg 2x',
		link: '#'
	})
	+grid-item({
		label: '&nbsp;',
		title: 'Команда Цифрового кластера Сибинтек',
		src: '../images/main/15.jpg',
		srcset: '../images/main/15@2x.jpg 2x',
		link: '#'
	})
	+grid-item({
		date: '05&nbsp;июня &lsquo;18',
		label: 'Новость./',
		title: 'Сотрудничество с Gartner',
		background: '#1E2326',
		link: '#'
	})
	+grid-item({
		label: '&nbsp;',
		background: '#171B1E',
		classList: 'grid-item--empty'
	})
	+grid-item({
		label: '&nbsp;',
		title: '&laquo;Цифровое месторождение&raquo; <br>в&nbsp;Башкирии&nbsp;официально перешло <br>в&nbsp;опытно-промышленную эксплуатацию',
		classList: 'grid-item--big',
		src: '../images/main/16.jpg',
		srcset: '../images/main/16@2x.jpg 2x',
		link: '#'
	})
	+grid-item({
		label: '&nbsp;',
		title: 'Стенд цифрового кластера на SAP Форуме',
		src: '../images/main/17.jpg',
		srcset: '../images/main/17@2x.jpg 2x',
		link: '#'
	})