.vacancy
	.vacancy__bg(style="background-image: url('/images/main/banner-mobile@2x.jpg')")
		img(src="/images/main/banner.png" srcset="/images/main/banner@2x.png 2x" alt="")
	.vacancy__content
		h4 Работа мечты ждет вас.#[br] Начните ее&nbsp;с&nbsp;нами
		p Сотрудники в&nbsp;цифровом кластере создают лучшие решения для всех направлений компании Сибинтек.
		a(href="#")
			span вакансии сибинтек
			+svg('more')
