.vacancies
	.vacancies__bg
		img(src="/images/main/banner.png" srcset="/images/main/banner@2x.png 2x" alt="")
	.vacancies__content
		h4 Работа мечты ждет вас.#[br] Начните ее&nbsp;с&nbsp;нами
		p Сотрудники в&nbsp;цифровом кластере создают лучшие решения для всех направлений компании Сибинтек.
		a(href="#")
			span вакансии сибинтек
			+svg('more')
