.vacancy
	.vacancy__bg(style="background-image: url('/images/pages/main/banner-mobile@2x.jpg')")
		img(src="/images/pages/main/banner.png" srcset="/images/pages/main/banner@2x.png 2x" alt="")
	.vacancy__content
		h4 Работа мечты ждет вас.#[br] Начните ее&nbsp;с&nbsp;нами
		p Сотрудники в&nbsp;цифровом кластере создают лучшие решения для всех направлений компании Сибинтек.
		+button-more({
			link: 'vacancies.html',
			name: 'вакансии сибинтек',
		})