.page.about
	.page__fixed

	.wrapper
		+breadcrumb({
			link: 'about.html',
			name: 'О кластере',
		})

		.page__top
			.about__content
				h1.page__top__title
					| О цифровом кластере
				.page__top__text
					| Цифровой кластер&nbsp;&mdash; это команда единомышленников, обладающая энтузиазмом и&nbsp;компетенциями, необходимыми для развития современных, инновационных и&nbsp;перспективных технологий.

		.page__container.page__container--white
			.about__content
				h2
					| Основные элементы кластера
			.about__directions
				+direction-item({
					link: '#',
					name: 'Аналитический центр',
					text: 'Цифровой кластер завершил формирование основной команды. В том числе, запущен и активно работает проект «Кадры для цифровой экономики»',
					icon: 'chart'
				})
				+direction-item({
					link: '#',
					name: 'Полигон прототипирования',
					text: 'Цифровой кластер завершил формирование основной команды. В том числе, запущен и активно работает проект «Кадры для цифровой экономики»',
					icon: 'cloud'
				})
				+direction-item({
					link: '#',
					name: 'Студия цифрового проектирования',
					text: 'Цифровой кластер завершил формирование основной команды. В том числе, запущен и активно работает проект «Кадры для цифровой экономики»',
					icon: 'port'
				})
				+direction-item({
					link: '#',
					name: 'Центр партнерского взаимодействия',
					text: 'Цифровой кластер завершил формирование основной команды. В том числе, запущен и активно работает проект «Кадры для цифровой экономики»',
					icon: 'hands'
				})
				+direction-item({
					link: '#',
					name: 'Шоурум цифровых разработок',
					text: 'Цифровой кластер завершил формирование основной команды. В том числе, запущен и активно работает проект «Кадры для цифровой экономики»',
					icon: 'builds'
				})
				+direction-item({
					link: '#',
					name: 'Центр акселерации',
					text: 'Цифровой кластер завершил формирование основной команды. В том числе, запущен и активно работает проект «Кадры для цифровой экономики»',
					icon: 'chart'
				})
				+direction-item({
					link: '#',
					name: 'Центр бизнес&#8209;трансформации',
					text: 'Цифровой кластер завершил формирование основной команды. В том числе, запущен и активно работает проект «Кадры для цифровой экономики»',
					icon: 'backup'
				})
				+direction-item-big({
					link: '#',
					name: 'Цифровой кластер обеспечивает компетенции и&nbsp;среду&nbsp;для&nbsp;реализации программ цифровизации'
				})
			.about__content.about__content--short
				p
					| Цифровой кластер&nbsp;&mdash; это команда единомышленников, обладающая энтузиазмом и&nbsp;компетенциями, необходимыми для развития современных, инновационных и&nbsp;перспективных технологий.
				+button-more({
					link: 'team.html',
					name: 'О команде',
				})
		.videos
			.video.js-cursor
				span
				.video__content
					.video__title
						| Видео о цифровом кластере
					.video__controls
						.video__play
							button
								+svg('play')
							span play
							.video__time 3:30
				span