.page.event
	.content.wrapper
		+breadcrumb({
			link: 'news.html',
			name: 'Новости и события',
		})
		.page__top.page__top--event
			a.page__top__back(href="news.html")
				+svg('back')
				span Ко всем новостям
			h1.page__top__title
				| В Рязанской области состоялся региональный чемпионат «Молодые профессионалы»
			.page__top__date 03 июл ‘18 - 04 Июл’18
		.content__container.content__container--white
			.event__info
				.event__info__item #[b Дата:] #[span 03 июля — 04 июля ‘19]
				.event__info__item #[b Адрес:] #[span Санкт-Петербург, Индустриальный проезд, д.23]
			p В рамках встречи студенты института Математики и информационных технологий и института Управления и региональной экономики ВолГУ пообщались с представителями СИБИНТЕК и получили исчерпывающую информацию о возможностях и перспективах, открывающихся перед молодыми специалистами.
			p Задача трудоустройства выпускников стоит перед университетом всегда. Поэтому сотрудничество с работодателями имеет для вуза первостепенное значение, – отметил проректор по учебно-воспитательной работе ВолГУ Геннадий Иванченко. – Уверен, что после знакомства с СИБИНТЕК, найдутся те, кто свяжет свою судьбу именно с этой компанией:
			ul
				li Функция многих переменных, следовательно, обуславливает комплексный интеграл по ориентированной области
				li Окрестность точки программирует математический анализ
			p В рамках встречи студенты института Математики и информационных технологий и института Управления и региональной экономики ВолГУ пообщались с представителями СИБИНТЕК и получили исчерпывающую информацию о возможностях и перспективах, открывающихся перед молодыми специалистами.
			ol
				li Сила участвует в погрешности определения курса меньше, чем эксикатор. Определяется индивидуально. Абсолютно твёрдое тело физически не зависит от скорости вращения
				li Абсолютно твёрдое тело физически не зависит от скорости вращения
				li Определяется индивидуально
			.block-image.block-image--big
				img(src="/images/pages/event/1.jpg" srcset="/images/pages/event/1@2x.jpg 2x" alt="")
		.event__more
			.event__more__content
				p Ко всем новостям и событиям
				a.button(href="#")
					span
					| Перейти
					span
