.page.home
	.home__fixed
		.home__fixed__decoration
			.home__fixed__decoration__image
				img(src="/images/main-decoration.png" srcset="/images/main-decoration@2x.png 2x" alt="")
			.home__fixed__decoration__polygon
				+svg('main-decoration')
		h1.home__fixed__title Цифровой кластер#[br] Сибинтек
		a.home__fixed__button.button(href="/about.html")
			span
			| О&nbsp;цифровом кластере
			span
	.grid.js-grid.home-grid
		a.grid-item.grid-item--first(href="/event.html")
			.grid-item__content
				.grid-item__num 01
				.grid-item__topside
					| сб, вс&nbsp;03&nbsp;июл&nbsp;&mdash; 14&nbsp;авг &lsquo;18
					| #[br]
					| /санкт-петербург
				.grid-item__preview Анонс события./
				p.grid-item__text Участие в&nbsp;Тюменском нефтегазовом форуме в&nbsp;МосЦДП
				.grid-item__decoration
					span
					span
					span
		+grid-item({
			label: 'новость./',
			date: '07&nbsp;Июл &lsquo;18',
			title: 'СИБИНТЕК завоевал Кубок связи и&nbsp;IТ по&nbsp;волейболу',
			src: '/images/pages/main/2.jpg',
			srcset: '/images/pages/main/2@2x.jpg 2x',
			link: '/single-news.html',
		})
		+grid-item({
			label: 'новость./',
			date: '20&nbsp;июня &lsquo;18',
			title: 'В&nbsp;СИБИНТЕК дан старт корпоративному турниру по&nbsp;спортивному &laquo;ЧГК&raquo;- 2018&Prime;!',
			src: '/images/pages/main/3.jpg',
			srcset: '/images/pages/main/3@2x.jpg 2x',
			link: '/single-news.html',
		})
		+grid-item({
			label: 'новость./',
			date: '15&nbsp;июня &lsquo;18',
			title: 'Глобальная конкурентоспособность',
			src: '/images/pages/main/4.jpg',
			srcset: '/images/pages/main/4@2x.jpg 2x',
			link: '/single-news.html',
		})
		+grid-item({
			label: 'новость./',
			date: '05&nbsp;июня &lsquo;18',
			title: 'Специалист СИБИНТЕК завоевал III место на&nbsp;Всероссийском конкурсе молодёжных авторских проектов &laquo;Моя страна&nbsp;&mdash; моя Россия&raquo; с&nbsp;проектом по&nbsp;созданию Центра краеведения &laquo;МОСТЫ&raquo; в&nbsp;Бузулуке.',
			background: '#1E2326',
			opacity: 0.95,
			link: '/single-news.html',
		})
		+grid-item({
			label: 'новость./',
			date: '30&nbsp;мая &lsquo;18',
			title: 'В&nbsp;СИБИНТЕК состоялся финальный этап конкурса &laquo;Лучший по&nbsp;профессии&raquo; в&nbsp;номинации&nbsp;&mdash; &laquo;Лучший специалист АСУТП&raquo;',
			src: '/images/pages/main/6.jpg',
			srcset: '/images/pages/main/6@2x.jpg 2x',
			link: '/single-news.html',
		})
		+grid-item({
			label: 'новость./',
			date: '25&nbsp;мая &lsquo;18',
			title: '&laquo;Макрорегион Поволжье&raquo; СИБИНТЕК принял более 30&nbsp;студентов на&nbsp;объекты филиала для прохождения производственной практики',
			src: '/images/pages/main/7.jpg',
			srcset: '/images/pages/main/7@2x.jpg 2x',
			link: '/single-news.html',
		})
		+grid-item({
			label: 'новость./',
			date: '22&nbsp;мая &lsquo;18',
			title: 'Более 200 студентов ИТ-специальностей, десятки специалистов и&nbsp;руководителей ИТ-интегратора встретились 15&nbsp;мая в&nbsp;стенах Саратовского государственного университета&nbsp;им. Ю.А. Гагарина на&nbsp;Дне СИБИНТЕК',
			background: '#171B1E',
			opacity: 0.85,
			link: '/single-news.html',
		})
		+grid-item({
			label: 'новость./',
			date: '25&nbsp;апр &lsquo;18',
			title: 'В&nbsp;МИРЭА состоялся первый &laquo;Хакатон&raquo; (Хакатон института Информационных Технологий Московского технологического университета), где СИБИНТЕК выступил в&nbsp;качестве одного из&nbsp;основных партнеров.',
			src: '/images/pages/main/9.jpg',
			srcset: '/images/pages/main/9@2x.jpg 2x',
			link: '/single-news.html',
		})
		+grid-item({
			label: 'новость./',
			date: '28&nbsp;марта &lsquo;18',
			title: 'Молодые специалисты филиала &laquo;Макрорегион Урал&raquo; СИБИТНЕК организовали серию выездных туристических походов в&nbsp;Уральские горы.',
			src: '/images/pages/main/10.jpg',
			srcset: '/images/pages/main/10@2x.jpg 2x',
			link: '/single-news.html',
		})
		+grid-item({
			label: 'новость./',
			date: '01&nbsp;марта &lsquo;18',
			title: 'В&nbsp;Рязанской области состоялся региональный чемпионат профессионального мастерства &laquo;Молодые профессионалы&raquo; (WorldSkills Russia).',
			src: '/images/pages/main/11.jpg',
			srcset: '/images/pages/main/11@2x.jpg 2x',
			link: '/single-news.html',
		})
		+grid-item({
			label: 'новость./',
			date: '22&nbsp;сент &lsquo;18',
			title: 'Лучшие 10&nbsp;ИТ-проектов для нефтегазовой отрасли&quot; оценивались при участии СИБИНТЕК',
			background: '#171B1E',
			opacity: 0.85,
			link: '/single-news.html',
		})
		+grid-item({
			label: 'новость./',
			date: '15&nbsp;июня &lsquo;18',
			title: 'Глобальная конкурентоспособность',
			src: '/images/pages/main/13.jpg',
			srcset: '/images/pages/main/13@2x.jpg 2x',
			link: '/single-news.html',
			classList: 'for-laptop-only'
		})

		.home__all-news
			p Все новости и&nbsp;события
			a.button(href="#")
				span
				| показать все
				span

		include ../components/vacancy
