.page.single-news
	.content.wrapper
		+breadcrumb({
			link: 'news.html',
			name: 'Новости и события',
		})

		.page__top.page__top--news
			a.page__top__back(href="news.html")
				+svg('back')
				span Ко всем новостям
			h1.page__top__title
				| В Рязанской области состоялся региональный чемпионат «Молодые профессионалы»
			.page__top__text
				| Механическая система, в соответствии с основным законом динамики, физически связывает установившийся режим. Инерциальная навигация вращательно продуцирует
			.page__top__date 27 АПР ‘18

		.block-image.block-image--big
			img(src="/images/pages/single-news/1.jpg" srcset="/images/pages/single-news/1@2x.jpg 2x" alt="")

		.content__container.content__container--white.offset-top-45
			p «Я бы с удовольствием попробовал свои силы в СИБИНТЕК, – поделился выпускник Эмиль Гриценко. – Одна компания, а столько возможностей профессионального роста! Надеюсь, что моя анкета заинтересует работодателя»
			p В рамках Дня СИБИНТЕК ребята посетили ряд тематических мастер-классов «1С», «SAP», «Практика построения отказоустойчивой сети» и др., на которых более детально и наглядно были раскрыты многие направления деятельности компании, а также приняли участие в интерактивных играх, конкурсах и получили замечательные призы.
			.block-image.block-image--wrap
				img(src="/images/styles/1.jpg" srcset="/images/styles/1@2x.jpg" alt="image 1")
				span Подпись к фотографии. Механическая система, в соответствии с основным законом динамики, физически связывает установившийся режим.
			p Один из выпускников ВолГУ, а сейчас руководитель Волгоградского участка Александр Ильин рассказал студентам о своем опыте: «15 лет назад я вышел из стен ВолГУ. Те знания, которые были получены здесь, переводятся в опыт внутри СИБИНТЕК. И у вас тоже есть такая возможность. Волгоград – одна из точек роста большой компании. За два года наше подразделение увеличилось в два раза. Являясь центром компетенций SAP мы активно развиваем новые направления деятельности: поддержка инфраструктуры, сопровождение 1С, комплексная поддержка АЗК и нефтебаз. Темпы роста впечатляют, и ограничены они не нашими потребностями, а рынком труда, соответственно, вступив в наши ряды, вы сделаете СИБИНТЕК еще больше и сильнее».

		a.block-next(href="#")
			.block-next__bg
				img(src="/images/pages/single-news/next-bg.jpg" srcset="/images/pages/single-news/next-bg@2x.jpg 2x" alt="")
			.block-next__content
				.block-next__topside
					.block-next__label Следующая новость./
					.block-next__date 30 мая ‘18
				.block-next__text
					h2 В&nbsp;СИБИНТЕК состоялся финальный этап конкурса &laquo;Лучший по&nbsp;профессии&raquo; в&nbsp;номинации&nbsp;&mdash; &laquo;Лучший специалист АСУТП&raquo;
					+svg('news-more')

		.single-news__more
			.single-news__more__content
				p Ко всем новостям и событиям
				a.button(href="/news.html")
					span
					| Перейти
					span
