.page.styles
	.page__fixed

	.content.wrapper
		+breadcrumb({
			link: 'styles.html',
			name: 'Название страницы',
		})

		.page__top
			.team__content
				h1.page__top__title
					| Страница стилей
				.page__top__text
					| Механическая система, в&nbsp;соответствии с&nbsp;основным законом динамики, физически#[br] связывает установившийся режим. Инерциальная навигация вращательно продуцирует

		.content__container.content__container--white
			h2 Заголовок H2. Пример в&nbsp;несколько строк текста
			p Механическая система, в соответствии с основным законом динамики, физически связывает установившийся режим. Инерциальная навигация вращательно продуцирует экваториальный момент, пользуясь последними системами уравнений. Внешнее кольцо случайно.
			p Орошение, как бы это ни казалось парадоксальным, требует большего внимания к анализу ошибок, которые даёт лазерный песок, что при любом переменном вращении в горизонтальной плоскости будет направлено вдоль оси. Сила участвует в погрешности определения курса меньше, чем эксикатор. Стабилизатор апериодичен. Отклонение косвенно дает пирогенный фингер-эффект. Абсолютно твёрдое тело физически не зависит от скорости вращения внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из рассмотрения упруго-пластичный гироскопический стабилизатоор.
			h3 Заголовок H3. Список ненумерованный. Пример в несколько строк текста
			p Орошение, как бы это ни казалось парадоксальным, требует большего внимания к анализу ошибок, которые даёт лазерный песок, что при #[b любом переменном] вращении в горизонтальной плоскости будет направлено вдоль оси. Сила участвует в погрешности определения курса меньше, чем эксикатор.
			ol
				li Сила участвует в погрешности определения курса меньше, чем эксикатор. Определяется индивидуально. Абсолютно твёрдое тело физически не зависит от скорости вращения
				li Абсолютно твёрдое тело физически не зависит от скорости вращения
				li Определяется индивидуально
				li Киноляпы в фильме форсаж
					ol
						li Луховицы детский массаж
						li Таганрог кафе авантаж
							ol
								li Чем очистить краски гуашь
				li Сила участвует в погрешности определения курса меньше, чем эксикатор. Определяется индивидуально. Абсолютно твёрдое тело физически не зависит от скорости вращения
			hr
			h2 Заголовок H2. Пример в несколько строк текста
			p Механическая система, в соответствии с основным законом динамики, физически связывает установившийся режим. Инерциальная навигация вращательно продуцирует экваториальный момент, пользуясь последними системами уравнений. Внешнее кольцо случайно.
			h3 Заголовок H3. Список ненумерованный. Пример в несколько строк текста
			p Орошение, как бы это ни казалось парадоксальным, требует большего внимания к анализу ошибок, которые даёт лазерный песок, что при #[b любом переменном] вращении в горизонтальной плоскости будет направлено вдоль оси. Сила участвует в погрешности определения курса меньше, чем эксикатор.
			ul
				li Функция многих переменных, следовательно, обуславливает комплексный интеграл по ориентированной области
				li Окрестность точки программирует математический анализ
					ul
						li Лепёшки на кефире с сыром
							ul
								li Как замариновать шашлык
								li Что делать если обжигаешь
								li Язык
				li Высшая арифметика реально транслирует интеграл от функции, обращающейся в бесконечность в изолированной точке

		.slider
			.slide
				img(src="/images/styles/slide.jpg" srcset="/images/styles/slide@2x.jpg 2x" alt="slide 1")
			.slide
				img(src="/images/styles/slide.jpg" srcset="/images/styles/slide@2x.jpg 2x" alt="slide 1")

		.content__container.content__container--white
			h3.no-offset-top Заголовок H3. Пример использования заголовков h4
			p Орошение, как бы это ни казалось парадоксальным, требует большего внимания к анализу ошибок, которые даёт лазерный песок, что #[a(href="#" target="_blank") ссылка в тексте] вращении в горизонтальной плоскости будет направлено вдоль оси. Сила участвует в погрешности определения курса меньше, чем эксикатор.
			h4 Заголовок H4. Пример использования заголовка h4
			p Орошение, как бы это ни казалось парадоксальным, требует большего внимания к анализу ошибок, которые даёт лазерный песок, что #[a(href="#" target="_blank") ссылка в тексте] вращении в горизонтальной плоскости будет направлено вдоль оси. Сила участвует в погрешности определения курса меньше, чем эксикатор.
			h4 Новые технологии
			p Орошение, как бы это ни казалось парадоксальным, требует большего внимания к анализу ошибок, которые даёт лазерный песок, что ховер на ссылке в тексте вращении в горизонтальной плоскости будет направлено вдоль оси. Сила участвует в погрешности определения курса меньше, чем эксикатор.
			.block-image.block-image--wrap
				img(src="/images/styles/1.jpg" srcset="/images/styles/1@2x.jpg" alt="image 1")
				span Подпись к фотографии. Механическая система, в соответствии с основным законом динамики, физически связывает установившийся режим.
			p Орошение, как бы это ни казалось парадоксальным, требует большего внимания к анализу ошибок, которые даёт лазерный песок, что ховер на ссылке в тексте вращении в горизонтальной плоскости будет направлено вдоль оси. Сила участвует в погрешности определения курса меньше, чем эксикатор.
			.block-image
				img(src="/images/styles/2.jpg" srcset="/images/styles/2@2x.jpg" alt="image 1")
				span Подпись к фотографии. Механическая система, в соответствии с основным законом динамики, физически связывает установившийся режим.
			p Орошение, как бы это ни казалось парадоксальным, требует большего внимания к анализу ошибок, которые даёт лазерный песок, что ховер на ссылке в тексте вращении в горизонтальной плоскости будет направлено вдоль оси. Сила участвует в погрешности определения курса меньше, чем эксикатор.

		.videos
			.video.js-cursor
				span
				.video__content
					.video__title Заголовок видеоролика. Всегда пишем полное название
					.video__controls
						.video__play
							button.js-popup-open(data-href="https://www.youtube.com/watch?v=bZNFRIwlQxQ&t=4s")
								+svg('play')
							span play
							.video__time 3:30
				span

			.video.js-cursor
				span
				.video__content
					.video__title Заголовок видеоролика
					.video__controls
						.video__play
							button.js-popup-open(data-href="https://www.youtube.com/watch?v=bZNFRIwlQxQ&t=4s")
								+svg('play')
							span play
							.video__time 3:30
				span

		.content__container.content__container--white
			h2 Пример таблицы, файлов и линии #{'<hr>'}
			p Механическая система, в соответствии с основным законом динамики, физически связывает установившийся режим. Инерциальная навигация вращательно продуцирует экваториальный момент, пользуясь последними системами уравнений. Внешнее кольцо случайно.
			.table-container
				.table-container__content
					table
						col(width="255")
						col(width="255")
						col(width="340")
						tr
							th Заголовок
							th Заголовок колонки
							th Заголовок колонки
						tr
							td Заголовок строки 1
							td Данные ячейки
							td Вторые данные ячейки
						tr
							td Владивосток
							td Борис Вейерштрасс
							td +7 915 329-09-15
						tr
							td Петропавловск-Камчатский
							td Константин Константинопольский
							td +7 912 123-45-67
						tr
							td Хабаровск
							td Пётр Гестерезис
							td -

			h3 Пример ниже. Линия #{'<hr>'} разделяет один блок от другого
			p Механическая система, в соответствии с основным законом динамики, физически связывает установившийся режим. Инерциальная навигация вращательно продуцирует экваториальный момент, пользуясь последними системами уравнений. Внешнее кольцо случайно открывает новую возможность.
			hr
			h3 Список файлов
			p Механическая система, в соответствии с основным законом динамики, физически связывает установившийся режим. Инерциальная навигация вращательно продуцирует экваториальный момент, пользуясь последними системами уравнений. Внешнее кольцо случайно открывает новую возможность..

			.files
				a.file(href="#" target="_blank")
					.file__icon
						+svg('file')
						span doc
					.file__textblock
						p Заголовок для файла. Пример в несколько строк для демонстрации объема блока
						span 3,5 мбайт

				a.file(href="#" target="_blank")
					.file__icon
						+svg('file')
						span doc
					.file__textblock
						p Заголовок для файла. Пример в несколько строк для демонстрации объема блока
						span 3,5 мбайт

				a.file(href="#" target="_blank")
					.file__icon
						+svg('file')
						span doc
					.file__textblock
						p Заголовок для файла. Пример в несколько строк для демонстрации объема блока. Пример в несколько строк для демонстрации объема блока
						span 3,5 мбайт

				a.file(href="#" target="_blank")
					.file__icon
						+svg('file')
						span doc
					.file__textblock
						p Заголовок для файла. Пример в несколько строк для демонстрации объема блока
						span 3,5 мбайт

				a.file(href="#" target="_blank")
					.file__icon
						+svg('file')
						span doc
					.file__textblock
						p Заголовок для файла
						span 3,5 мбайт

.popup.js-popup.is-hidden
	.popup__shade.js-popup-close

	.popup__body
		button.popup__close.js-popup-close
			+svg('close')
		video.fancybox-video(controls controlsList="nodownload" poster="{{poster}}")
			source(src="#" type="video")
			| Sorry, your browser doesn\'t support embedded videos, <a href="#">download</a> and watch with your favorite video player!
