.page.team
	.page__fixed

	.wrapper
		+breadcrumb({
			link: 'team.html',
			name: 'Команда',
		})

		.page__top
			.team__content
				h1.page__top__title
					| Команда
				.page__top__text
					| Цифровой кластер&nbsp;&mdash; это команда единомышленников, обладающая энтузиазмом и&nbsp;компетенциями, необходимыми для развития современных, инновационных и&nbsp;перспективных технологий.

		.team__wrapper.team__wrapper--white
			.team__content
				h2
					| Чем мы занимаемся
				p
					| Наша команда работает в&nbsp;соответствие с&nbsp;принципами &laquo;гибкой&raquo; организации и&nbsp;успешно внедряет практики Agile и&nbsp;дизайн-мышления. Это позволяет адаптироваться под меняющиеся требования и&nbsp;конъюнктуру, быстрее достигать результатов и&nbsp;сократить время на&nbsp;апробацию и&nbsp;пилотирование, двигаясь вперед одновременно в&nbsp;нескольких направлениях.

				h3
					| Принципы работы:
				ul
					li
						| Гибкие процедуры и&nbsp;инфраструктура, ориентированная на&nbsp;быстрые короткие циклы разработки
					li
						| Развитие экосистемы технологических партнерств, основанной на&nbsp;принципах открытости и&nbsp;win-win кооперации
					li
						| Активная работа с&nbsp;рынком инновационных решений, стартапами, вузами, молодыми командами

				h3
					| Каждое чувствительное направление немедленно получает:

			.team__list
				.team__list__item
					img(src="/images/pages/team/list-1.png" srcset="/images/pages/team/list-1@2x.png 2x" alt="")
					p.team__list__item__text
						| Специализированную команду, которая располагает высоким уровнем экспертизы

				.team__list__item
					img(src="/images/pages/team/list-2.png" srcset="/images/pages/team/list-2@2x.png 2x" alt="")
					p.team__list__item__text
						| Быстрый анализ имеющихся на&nbsp;рынке технологий

				.team__list__item
					img(src="/images/pages/team/list-3.png" srcset="/images/pages/team/list-3@2x.png 2x" alt="")
					p.team__list__item__text
						| Вектор развития и&nbsp;оперативно разработанное решение, отвечающее бизнес-задачам, производственным возможностям

		.team__wrapper.team__wrapper--black
			.team__content
				h3.team__content__title
					| Внутри цифрового кластера сформированы центры цифровых компетенций по&nbsp;развитию технологий:

			.team__list__group
				ul
					li
						| Компьютерное зрение
					li
						| Большие данные
					li
						| Блокчейн
					li
						| Машинное обучение (ML) и NLP/NLU
					li
						| Речевая аналитика
					li
						| Имитационное и&nbsp;оптимизационное моделирование

				ul
					li
						| Интегрированное планирование
					li
						| Моделирование технологических процессов
					li
						| Беспилотные летательные аппараты
					li
						| Программные роботы
					li
						| Интеллектуальные носимые устройства
					li
						| AR / VR

		.team__wrapper.team__wrapper--white
			.team__placeholder
				img(src="/images/pages/team/ilia.jpg" srcset="/images/pages/team/ilia@2x.jpg 2x")
			.team__person
				.team__person__post
					| Руководитель Цифрового кластера
				.team__person__name
					| Илья Хорлин
				.team__person__text
					| &laquo;СИБИНТЕК&raquo; как внутренний ИТ-интегратор ПАО &laquo;НК&nbsp;&laquo;Роснефть&raquo; и&nbsp;основной разработчик решений в области цифровизации начинает формирование единого информационного пространства, аккумулирующего максимум актуальных новостей, анализ лучших практик, информацию о&nbsp;статусе ведущихся проектов, ближайших и&nbsp;стратегических перспективах.

		.team__wrapper.team__wrapper--black
			.team__people
				.team__people__item
					.team__people__item__top
						.team__people__item__image
							img(src="/images/pages/team/people.jpg" srcset="/images/pages/team/people@2x.jpg 2x" alt="")
						.team__people__item__content
							.team__people__item__post
								| руководитель по&nbsp;реализации программы цифровизации
							.team__people__item__name
								| Антон Белоусов

					.team__people__item__body
						| Разветвленная филиальная сеть и&nbsp;мощная инфраструктура позволяют компании реализовывать амбициозные проекты в&nbsp;сфере инноваций.

				.team__people__item
					.team__people__item__top
						.team__people__item__image
							img(src="/images/pages/team/people.jpg" srcset="/images/pages/team/people@2x.jpg 2x" alt="")
						.team__people__item__content
							.team__people__item__post
								| руководитель по&nbsp;реализации программы цифровизации
							.team__people__item__name
								| Антон Ершов

					.team__people__item__body
						| Разветвленная филиальная сеть и&nbsp;мощная инфраструктура позволяют компании реализовывать амбициозные проекты в&nbsp;сфере инноваций и&nbsp;информатизации бизнес-процессов для крупнейших корпораций.

				.team__people__item
					.team__people__item__top
						.team__people__item__image
							img(src="/images/pages/team/people.jpg" srcset="/images/pages/team/people@2x.jpg 2x" alt="")
						.team__people__item__content
							.team__people__item__post
								| руководитель по&nbsp;реализации программы цифровизации
							.team__people__item__name
								| Антон Белоусов

					.team__people__item__body
						| Разветвленная филиальная сеть и&nbsp;мощная инфраструктура позволяют компании реализовывать амбициозные проекты в&nbsp;сфере инноваций.

				.team__people__item
					.team__people__item__top
						.team__people__item__image
							img(src="/images/pages/team/people.jpg" srcset="/images/pages/team/people@2x.jpg 2x" alt="")
						.team__people__item__content
							.team__people__item__post
								| руководитель по&nbsp;реализации программы цифровизации
							.team__people__item__name
								| Антон Ершов

					.team__people__item__body
						| Разветвленная филиальная сеть и&nbsp;мощная инфраструктура позволяют компании реализовывать амбициозные проекты в&nbsp;сфере инноваций и&nbsp;информатизации бизнес-процессов для крупнейших корпораций.

		include ../components/vacancies
