.page.technologies
	.wrapper
		+breadcrumb({
			link: 'technologies.html',
			name: 'Технологии и решения',
		})

		.page__top
			h1.page__top__title
				| Технологии и решения
			.page__top__text
				| Механическая система, в&nbsp;соответствии с&nbsp;основным законом динамики, физически связывает установившийся режим. Инерциальная навигация вращательно продуцирует экваториальный момент, пользуясь последними системами уравнений.

	.grid.technologies-grid
		+grid-item({
			classList: 'js-cursor grid-item--big grid-item--color',
			label: 'Технология./',
			title: 'Автономные дроны',
			text: 'Служат поддержкой сотруднику, позволяя оптимизировать качество бизнес&nbsp;&mdash; процессов за&nbsp;счет минимизации затрачиваемого времени, финансовых и&nbsp;человеческих ресурсов, необходимых для выполнения соответствующих задач.',
			background: '#EDAE09',
			link: '#',
		})
		+grid-item({
			classList: 'js-cursor',
			label: 'Продукт./',
			title: 'Описание для сайта видеоаналитика',
			src: '/images/pages/technologies/1.png',
			srcset: '/images/pages/technologies/1@2x.png 2x',
			background: '#171B1E',
			link: '#',
		})
		+grid-item({
			classList: 'js-cursor',
			label: 'Технология./',
			title: 'Хранилище цифровых моделей',
			src: '/images/pages/technologies/2.jpg',
			srcset: '/images/pages/technologies/2@2x.jpg 2x',
			link: '#',
		})
		+grid-item({
			classList: 'js-cursor',
			label: 'Продукт./',
			title: 'Прогнозирование осложнений в&nbsp;процессе бурения',
			text: 'В&nbsp;МИРЭА состоялся первый &laquo;Хакатон&raquo; (Хакатон института Информационных Технологий Московского технологического университета), где СИБИНТЕК выступил в&nbsp;качестве одного из&nbsp;основных партнеров.',
			background: '#1E2326',
			opacity: 0.95,
			link: '#',
		})
		+grid-item({
			classList: 'js-cursor',
			label: 'Продукт./',
			title: 'Прогнозирование осложнений в&nbsp;процессе бурения',
			text: 'В&nbsp;МИРЭА состоялся первый &laquo;Хакатон&raquo; (Хакатон института Информационных Технологий Московского',
			background: '#1E2326',
			opacity: 0.85,
			link: '#',
		})
		+grid-item({
			classList: 'js-cursor grid-item--big',
			label: 'Технология./',
			title: 'Автономные дроны',
			text: 'Служат поддержкой сотруднику, позволяя оптимизировать качество бизнес&nbsp;&mdash; процессов за&nbsp;счет минимизации затрачиваемого времени, финансовых и&nbsp;человеческих ресурсов, необходимых для выполнения соответствующих задач.',
			src: '/images/pages/technologies/3.jpg',
			srcset: '/images/pages/technologies/3@2x.jpg 2x',
			link: '#',
		})
		+grid-item({
			classList: 'js-cursor',
			label: 'Продукт./',
			title: 'Описание для сайта видеоаналитика',
			src: '/images/pages/technologies/4.jpg',
			srcset: '/images/pages/technologies/4@2x.jpg 2x',
			link: '#',
		})
		+grid-item({
			classList: 'js-cursor',
			label: 'Продукт./',
			title: 'Описание для сайта видеоаналитика',
			src: '/images/pages/technologies/4.jpg',
			srcset: '/images/pages/technologies/4@2x.jpg 2x',
			link: '#',
		})
		+grid-item({
			classList: 'js-cursor',
			label: 'Технология./',
			title: 'Прогнозирование осложнений в&nbsp;процессе бурения',
			text: 'В&nbsp;МИРЭА состоялся первый &laquo;Хакатон&raquo; (Хакатон института Информационных Технологий Московского технологического университета), где СИБИНТЕК выступил в&nbsp;качестве одного из&nbsp;основных партнеров.',
			background: '#171B1E',
			opacity: 0.85,
			link: '#',
		})
