.page.technology
	.page__fixed

	.wrapper
		+breadcrumb({
			link: 'technology.html',
			name: 'Технологии и решения',
		})

		.page__top
			h1.page__top__title
				| Гибридная поддержка принятия решений при бурении скважин
			.page__top__text
				| Программный продукт для раннего выявления осложнений в&nbsp;процессе бурения скважин на&nbsp;основе физико-статистических моделей, когнитивных технологий и&nbsp;методов машинного обучения при выборе своевременных оптимальных решений по&nbsp;управлению процессом бурения.
