.page.vacancies
	.page__fixed

	.wrapper.content
		+breadcrumb({
			link: 'vacancies.html',
			name: 'Вакансии',
		})

		.page__top
			h1.page__top__title
				| Вакансии
			.vacancies__filter
				select.filter__select.js-select(name="region" multiple data-class="vacancies__select js-filter-region")
					option(value="all" selected hidden) Все регионы
					option(value="region-center") Центральный
					option(value="region-sibir") Сибирский

				select.filter__select.js-select(name="city" multiple data-class="vacancies__select js-filter-city")
					option(value="all" selected hidden) Все города
					optgroup(value="region-center" label="Центральный регион")
						option(value="city-moscow") Москва
						option(value="city-ryazan") Рязань
					optgroup(value="region-sibir" label="Сибирский регион" disabled)
						option(value="city-irkutsk") Иркутск

				select.filter__select.js-select(name="work" multiple data-class="vacancies__select js-filter-select")
					option(value="all" selected hidden) Все сферы деятельности
					option(value="developer") Разработчик
					option(value="admin") Администратор

		.vacancies__hr.content__container--black
			.vacancies__hr__top
				.vacancies__hr__image
					img(src="/images/pages/vacancies/hr.jpg" scrset="/images/pages/vacancies/hr@2x.jpg 2x" alt="")

				.vacancies__hr__content
					.vacancies__hr__post
						| HR
					.vacancies__hr__name
						| Мария Белоусова

			.vacancies__hr__body
				p
					| Карьера в&nbsp;Цифровом кластере&nbsp;&mdash; это творческая работа в&nbsp;команде профессионалов, участие в&nbsp;интересных, сложных, инновационных и&nbsp;перспективных проектах, возможность самореализации и&nbsp;развития.
				p
					| В&nbsp;Кластере поддерживается творческий подход к&nbsp;своему делу, нацеленность на&nbsp;результат, профессионализм, инициативность и&nbsp;умение работать в&nbsp;команде.

		.vacancyes__region.filter-region(data-filter="region-center")
			.vacancies__city.content__container.filter-city#city-moscow(data-filter="city-moscow")
				h2.vacancies__city__title
					| Москва

				+vacancies-item({
					id: '1-1',
					filter: 'admin',
					date: '20 июня ‘18./',
					city: 'москва./ ',
					title: 'Администратор видеоконференцсвязи',
					salary: 'от&nbsp;45&nbsp;000&nbsp;руб.',
					list: [{
						name: 'Функциональные обязанности',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Основные требования',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Условия',
						array: [
							'Оформление по ТК РФ в штат компании',
							'Конкурентная, «белая» заработная плата',
							'Программа добровольного медицинского страхования (включая стоматологию)',
							'График работы 5/2 пн-чт.: 8.00-17.00, пт.: 8.00-16.00',
						],
					}]
				})
				+vacancies-item({
					id: '1-2',
					filter: 'developer',
					date: '20 июня ‘18./',
					city: 'москва./ ',
					title: 'ESB разработчик (ServiceMix)',
					list: [{
						name: 'Функциональные обязанности',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Основные требования',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Условия',
						array: [
							'Оформление по ТК РФ в штат компании',
							'Конкурентная, «белая» заработная плата',
							'Программа добровольного медицинского страхования (включая стоматологию)',
							'График работы 5/2 пн-чт.: 8.00-17.00, пт.: 8.00-16.00',
						],
					}]
				})
				+vacancies-item({
					id: '1-3',
					filter: 'admin',
					date: '20 июня ‘18./',
					city: 'москва./ ',
					title: 'Java разработчик',
					salary: 'от&nbsp;75&nbsp;000&nbsp;руб.',
					list: [{
						name: 'Функциональные обязанности',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Основные требования',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Условия',
						array: [
							'Оформление по ТК РФ в штат компании',
							'Конкурентная, «белая» заработная плата',
							'Программа добровольного медицинского страхования (включая стоматологию)',
							'График работы 5/2 пн-чт.: 8.00-17.00, пт.: 8.00-16.00',
						],
					}]
				})

				button.vacancies__city__button.js-add-more(data-url="/vacancies.json" data-type="vacancy" data-id="city-moscow" type="button")
					| Показать все вакансии в&nbsp;Москве

			.vacancies__city.content__container.filter-city#city-ryazan(data-filter="city-ryazan")
				h2.vacancies__city__title
					| Рязань

				+vacancies-item({
					id: '2-1',
					filter: 'admin',
					date: '20 июня ‘18./',
					city: 'Рязань./ ',
					title: 'Администратор видеоконференцсвязи',
					salary: 'от&nbsp;45&nbsp;000&nbsp;руб.',
					list: [{
						name: 'Функциональные обязанности',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Основные требования',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Условия',
						array: [
							'Оформление по ТК РФ в штат компании',
							'Конкурентная, «белая» заработная плата',
							'Программа добровольного медицинского страхования (включая стоматологию)',
							'График работы 5/2 пн-чт.: 8.00-17.00, пт.: 8.00-16.00',
						],
					}]
				})
				+vacancies-item({
					id: '2-2',
					filter: 'developer',
					date: '20 июня ‘18./',
					city: 'Рязань./ ',
					title: 'ESB разработчик (ServiceMix)',
					list: [{
						name: 'Функциональные обязанности',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Основные требования',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Условия',
						array: [
							'Оформление по ТК РФ в штат компании',
							'Конкурентная, «белая» заработная плата',
							'Программа добровольного медицинского страхования (включая стоматологию)',
							'График работы 5/2 пн-чт.: 8.00-17.00, пт.: 8.00-16.00',
						],
					}]
				})
				+vacancies-item({
					id: '2-3',
					filter: 'developer',
					date: '20 июня ‘18./',
					city: 'Рязань./ ',
					title: 'Java разработчик',
					salary: 'от&nbsp;75&nbsp;000&nbsp;руб.',
					list: [{
						name: 'Функциональные обязанности',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Основные требования',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Условия',
						array: [
							'Оформление по ТК РФ в штат компании',
							'Конкурентная, «белая» заработная плата',
							'Программа добровольного медицинского страхования (включая стоматологию)',
							'График работы 5/2 пн-чт.: 8.00-17.00, пт.: 8.00-16.00',
						],
					}]
				})

				button.vacancies__city__button.js-add-more(data-url="/vacanciesd.json" data-type="vacancy" data-id="city-ryazan" type="button")
					| Показать все вакансии в&nbsp;Рязани

		.vacancyes__region.filter-region(data-filter="region-sibir")
			.vacancies__city.content__container.filter-city#city-irkutsk(data-filter="city-irkutsk")
				h2.vacancies__city__title
					| Иркутск

				+vacancies-item({
					id: '3-1',
					filter: 'admin',
					date: '20 июня ‘18./',
					city: 'Иркутск./ ',
					title: 'Администратор видеоконференцсвязи',
					salary: 'от&nbsp;45&nbsp;000&nbsp;руб.',
					list: [{
						name: 'Функциональные обязанности',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Основные требования',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Условия',
						array: [
							'Оформление по ТК РФ в штат компании',
							'Конкурентная, «белая» заработная плата',
							'Программа добровольного медицинского страхования (включая стоматологию)',
							'График работы 5/2 пн-чт.: 8.00-17.00, пт.: 8.00-16.00',
						],
					}]
				})
				+vacancies-item({
					id: '3-2',
					filter: 'developer',
					date: '20 июня ‘18./',
					city: 'Иркутск./ ',
					title: 'Java разработчик',
					salary: 'от&nbsp;75&nbsp;000&nbsp;руб.',
					list: [{
						name: 'Функциональные обязанности',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Основные требования',
						array: [
							'Обеспечение качественной и оперативной поддержки пользователей корпоративной информационной системы на базе SAP R/3 (Анализ проблем по заявкам пользователей, поиск их решения)',
							'Поддержка работоспособности финансовых модулей системы SAP',
						],
					},
					{
						name: 'Условия',
						array: [
							'Оформление по ТК РФ в штат компании',
							'Конкурентная, «белая» заработная плата',
							'Программа добровольного медицинского страхования (включая стоматологию)',
							'График работы 5/2 пн-чт.: 8.00-17.00, пт.: 8.00-16.00',
						],
					}]
				})

				button.vacancies__city__button.js-add-more(data-url="/vacancies.json" data-type="vacancy" data-id="city-irkutsk" type="button")
					| Показать все вакансии в&nbsp;Иркутска
