extends pug/base

append vars
	//- ...
	- barbaName = 'about'

block content
	.site-container
		include pug/components/header
		include pug/pages/about
		include pug/components/footer
		include pug/components/popup
		.page__fixed
