extends pug/base

append vars
	//- ...

block content
	.site-container(data-barba="wrapper")
		include pug/components/header
		main(data-barba="container" data-barba-namespace="event")
			include pug/pages/event
			include pug/components/footer
			include pug/components/popup
		.page__fixed
