extends pug/base

append vars
	//- ...
	- main = true

block content
	.site-container
		include pug/components/header
		include pug/pages/home
		include pug/components/footer
		include pug/components/popup
