extends pug/base

append vars
	//- ...
	- main = true

block content
	.site-container.site-container--home(data-barba="wrapper")
		include pug/components/header
		main(data-barba="container" data-barba-namespace="home")
			include pug/pages/home
			include pug/components/footer
			include pug/components/popup
		.page__fixed
