extends pug/base

append vars
	//- ...
	- main = true
	- barbaName = 'home'

block content
	.site-container.site-container--home
		include pug/components/header
		include pug/pages/home
		include pug/components/footer
		include pug/components/popup
		.page__fixed
