extends pug/base

append vars
	//- ...
	- barbaName = 'post'

block content
	.site-container
		include pug/components/header
		include pug/pages/single-news
		include pug/components/footer
		include pug/components/popup
		.page__fixed