extends pug/base

append vars
	//- ...
	- barbaName = 'tech'

block content
	.site-container
		include pug/components/header
		include pug/pages/technology
		include pug/components/footer
		include pug/components/popup
		.page__fixed
