extends pug/base

append vars
	//- ...

block content
	.site-container(data-barba="wrapper")
		include pug/components/header
		.main(data-barba="container" data-barba-namespace="job")
			include pug/pages/vacancies
			include pug/components/footer
		.page__fixed