extends pug/base

append vars
	//- ...
	- barbaName = 'job'

block content
	.site-container
		include pug/components/header
		include pug/pages/vacancies
		include pug/components/footer
		include pug/components/popup
		.page__fixed
