*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
button,
input,
textarea {
	&:hover,
	&:focus,
	&:active {
		// stylelint-disable-next-line declaration-no-important
		outline: none !important;
	}
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

html {
	box-sizing: border-box;

	&.is-overflow-hidden {
		overflow: hidden;
		height: 100vh;
	}
}

body {
	font-family: $font-roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
}

.site-container {
	position: relative;
}

.is-overflow-hidden {
	overflow: hidden;
	height: 100vh;

	&::-webkit-scrollbar {
		display: none;
	}
}
