// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-woodsmoke-dark: #171b1e;
$color-woodsmoke-light: #060708;
$color-woodsmoke: #15151a;
$color-shark: #1e2326;
$color-gallery: #eaeaea;
$color-smoky-white: #f4f3f3;
$color-cream-can: #f5ce4d;
$color-buttercup: #edae09;
$color-sunglow: #ffc630;
$color-mercury: #e8e8e8;
$color-white: #fff;
$color-error: #9e0000;
$color-pink: #f5e6e6;
$color-pearl: #9b9b9b;
$grayborder: 1px solid rgba(104, 101, 101, 0.2);

// FONTS

$font-roboto: "Roboto", sans-serif;
