// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-woodsmoke-dark: #171b1e;
$color-woodsmoke-light: #060708;
$color-woodsmoke: #15151a;
$color-cream-can: #f5ce4d;
$color-buttercup: #edae09;
$color-sunglow: #ffc630;
$color-mercury: #e8e8e8;
$color-white: #fff;

// FONTS

$font-roboto: "Roboto", sans-serif;
