// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-woodsmoke-dark: #171b1e;
$color-woodsmoke-light: #060708;
$color-woodsmoke: #15151a;
$color-smoky-white: #f4f3f3;
$color-cream-can: #f5ce4d;
$color-buttercup: #edae09;
$color-sunglow: #ffc630;
$color-white: #fff;
$color-error: #9e0000;
$color-pink: #f5e6e6;

// FONTS

$font-roboto: "Roboto", sans-serif;
